/**************************TAG SELECTOR*******************************/

body {
    background-color: #e8e8e8;
    margin: 0;
    /* text-align: center; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000;
}

hr {
    border-style: dotted none none;
    border-color: gray;
    border-width: 5px;
    width: 5%;
    margin: 50px auto;
}

h1 {
    color: #66BFBF;
    /* width: 10%; */
    /* margin: 0 auto 0 auto; */
    font-family: 'Lobster', cursive;
    /* padding-bottom: 5px; */
}

h2 {
    color: #66BFBF;
    font-family: 'Lobster', cursive;
    padding-bottom: 10px;
}

h3 {
    color: #11999E;
    font-family: 'Lobster', cursive;
    padding-bottom: 10px;
}

p {
    line-height: 2;
}

img {
    cursor: pointer;
}


/******************************CLASS SELECTOR********************************/

.intro {
    background-color: #e4e3e3;
    margin: 5px;
    /* display: inline-block; */
}

.introText {
    /* width: 30%; */
    margin: auto;
}

.skills {
    background-color: #e8e8e8;
    margin: 50px auto;
    width: 20%;
}

.projects {
    padding: 7% 15%;
}

.project-box {
    text-align: center;
    padding: 5%;
}

.dreams {
    margin: 50px auto;
    width: 40%;
}

.goals {
    font: 1em sans-serif;
    font-size: large;
    color: #11999E;
    font-family: 'Lobster', cursive;
}

.goalsText {
    line-height: 2;
}

.social {
    text-align: center;
}

.form {
    text-align: center;
    color: #89beb3;
    width: 320px;
    margin: 20px auto;
}

.form p {
    font-size: 1rem;
}

input {
    padding: 10px;
    font-size: 1rem;
}

input[type="text"] {
    display: block;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 300px;
    border: 2px solid #89beb3;
    border-radius: 50px;
}

input[type="email"] {
    display: block;
    margin-bottom: 25px;
    width: 300px;
    border: 2px solid #89beb3;
    border-radius: 50px;
}

input[type="submit"] {
    display: block;
    margin-bottom: 25px;
    width: 100px;
    border: 2px solid #89beb3;
    text-align: center;
    cursor: pointer;
    border-radius: 50px;
}

.submit:hover {
    background-color: #89beb3;
    transition: 1s ease;
}

.submit:focus {
    background-color: #89beb3;
}

textarea {
    display: block;
    margin-bottom: 25px;
    width: 300px;
    border: 2px solid #89beb3;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.footer {
    background-color: rgb(190, 190, 223);
    padding: 20px 0 20px;
}


/*******************************ID SELECTOR*********************************/

#title {
    background-color: #89beb3;
    color: gray;
}

.nav-item {
    display: inline-block;
    float: right;
    padding: 5px;
}