* {
    scroll-behavior: smooth;
}

body {
    background-color: #e4e3e3;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000;
}


/*------------------------Header Section----------------------*/

header {
    height: 100vh;
    background-image: url(../images/blackWall.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.container {
    margin-right: 100px;
    margin-left: 100px;
}

.user-box {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.user-box img {
    width: 250px;
    border-radius: 50%;
}

.user-box h1 {
    color: white;
    margin: 10px;
    font-weight: bold;
}

.user-box p {
    color: white;
}


/*------------------------------------Nav Section---------------------------*/

.navbar {
    background-color: rgba(14, 13, 13, 0.74);
}

nav .fa-bars {
    font-size: 35px;
    color: #ffff;
}

.navbar-toggler {
    outline: none !important;
    /*this makes the navbar on mobile size not to have an outline it will be only the three bars*/
}

.navbar-nav {
    float: right;
    text-align: right;
}

.nav-link {
    color: #ffff !important;
}

nav {
    top: 0;
    /* position: sticky; */
    z-index: 2;
}

.nav-item:hover,
:focus {
    text-decoration: underline;
}


/*-----------------------------------About Section--------------------------*/

.about {
    padding-top: 100px;
    padding-bottom: 50px;
}

.intro {
    line-height: 2rem;
}

.profilePic {
    height: 300px;
}

.skills {
    margin-bottom: 6px;
    font-weight: 600;
}

.progress {
    border-radius: 16px;
    margin-bottom: 10px;
}

.progress-bar {
    border-radius: 16px;
    background-color: #000 !important;
    cursor: pointer;
}

.skills h3 {
    margin-bottom: 20px;
}


/*---------------------------Projects------------------------------*/

#projects {
    padding-top: 50px;
    padding-bottom: 50px;
}

#projects h3 {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

.projectsRow {
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.projectBox {
    flex-basis: 25%;
    text-align: center;
}

.projectBox img {
    width: 100px;
    /*makes the image smaller*/
}

.projectBox h4 {
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: 400;
}


/*-------------------------Contact------------------*/

.contact {
    padding-top: 50px;
    background-image: url(../images/footer.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
}

.contact .row {
    padding-top: 30px;
    font-size: 22px;
}

.contact .col-md-6 .fa {
    padding: 10px;
    font-size: 40px;
}

.social {
    display: flex;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: large;
    margin: 5px;
    padding: 5px;
}

.social i {
    margin: 5px;
}

@media(max-width:768px) {
    .container {
        margin-right: 50px;
        margin-left: 50px;
    }
    .projectBox {
        flex-basis: 100%;
        margin-bottom: 20px;
    }
}