* {
    scroll-behavior: smooth;
}

body {
    background-color: #e4e3e3;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000;
}


/*------------------------Header Section----------------------*/

header {
    height: 100vh;
    background-image: url(../images/blackWall.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.user-box {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.user-box img {
    width: 250px;
    border-radius: 50%;
}

.user-box h1 {
    color: white;
    margin: 10px;
    font-weight: bold;
}

.user-box p {
    color: white;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.158);
}

nav .fa-bars {
    font-size: 35px;
    color: #ffff;
}

.navbar-toggler {
    outline: none !important;
    /*this makes the navbar on mobile size not to have an outline it will be only the three bars*/
}

.navbar-nav {
    float: right;
    text-align: right;
}

.nav-link {
    color: #ffff !important;
}


/*------------------------------------Nav Section---------------------------*/

nav {
    top: 0;
    position: sticky;
    z-index: 2;
}


/*-----------------------------------About Section--------------------------*/

.about {
    padding-top: 100px;
    padding-bottom: 50px;
}

.profilePic {
    height: 300px;
}

.skills {
    margin-bottom: 6px;
    font-weight: 600;
}

.progress {
    border-radius: 16px;
    margin-bottom: 10px;
}

.progress-bar {
    border-radius: 16px;
    background-color: #000 !important;
}